*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}



nav{
    display: flex;
    flex-direction: row;
 color: black;
 justify-content: space-evenly;
 padding: 40px;
 gap: 40px;
 background-color: #fdf4ec;
}


.logo{
    font-size: 18px;
    font-weight: 700px;
    font-family: sans-serif;
    /* padding: 40px; */
    color: #e42a12;

}


.links{
display: flex;
overflow: hidden;
flex-direction: row;
justify-content: space-between;


ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* padding: 40px; */
    list-style: none;
    padding-top: 20px;
    justify-content: space-between;

   
}

li a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #454142;
    font-size: 18px;
    
}

}

.buttons{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    gap: 30px;
    align-items: flex-end;
  



}




.choose{
    border:  1px solid #e42a12;
    background-color: #e42a12;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 999px;
  color: aliceblue;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.choose:hover{
    background-color: white;
    color: #e42a12;
    border: 3px solid #e42a12 ;
    border-radius: 999px;
  }


  .hero{
    display: flex;
    flex-direction: row;
  align-items: center;
  height: 70vh;
  width: 100%;
  justify-content: space-evenly;
  background-color: #fdf4ec;
 

  }

  .hero-button{
  

   button{
     padding: 20px;
   border: 1px solid #e42a12;
    background-color: #e42a12;
   color: white;
   border-radius: 999px;
   transition: all 0.3s ease-in-out;
   cursor: pointer;
   font-size: 18px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
   }

  .hero-text{
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    gap: 10px;
h2{
   padding: 30px;
        font-size: 18px;
        color: #484848;
        font-weight: bolder;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
    h1{
        padding: 30px;
        font-size: 58px;
        color: #484848;
        font-weight: bolder;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    h1 span{
        color: #e42a12;
        font-weight: bolder;
        font-size: 62px;
    }
    p{
        padding: 50px;
        font-size: 18px;
        font-weight: bolder;
        color: #454142;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }

  .hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 50%;

    img{
        width: 80%;
        height: 80%;
border-radius: 30px;
        object-fit: cover;
        object-position: center;
    }
  }