*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}



nav{
    display: flex;
    flex-direction: row;
 color: black;
 justify-content: space-evenly;
 padding: 40px;
 gap: 40px;
}


.logo{
    font-size: 18px;
    font-weight: 700px;
    font-family: sans-serif;
    /* padding: 40px; */
    color: #e42a12;

}


.links{
display: flex;
overflow: hidden;
flex-direction: row;
justify-content: space-between;


ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* padding: 40px; */
    list-style: none;
    padding-top: 20px;
    justify-content: space-between;

   
}

li a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #454142;
    font-size: 18px;
    
}

}

.buttons{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    gap: 30px;
    align-items: flex-end;
  



}




.choose{
    border:  1px solid #e42a12;
    background-color: #e42a12;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 999px;
  color: aliceblue;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.choose:hover{
    background-color: white;
    color: #e42a12;
    border: 3px solid #e42a12 ;
    border-radius: 999px;
  }
